#main{background-color: #c9cbdc
}
.card{background-color: #c9cbdc
}
#CustomerTable{background-color: #c9cbdc
}


#part{background-color: #ebf0f3
}
#tableBg,#tableBg2{

    background-color: #a4b8dc
}

#report ,#userName,#subject,#fileUp{

    background-color: #e1fffa;
    color:black;
}